/* Importing Grid */
@import "grid.css";

/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade|Montserrat';
/*
font-family: 'Bungee Shade', cursive;
font-family: 'Montserrat', sans-serif; */


html {
  background: url(images/balloon.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  max-width: 200px;
  height: 200px;
  margin: 5px;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}


#container{
  width:80%;
  margin: auto;
}

#inputField {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#submit {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

#output {
  width: 100%;
}

@media only screen and (max-width: 500px) {
    img {
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
    }
}
